* {
  margin: 0;
  padding: 0;
}

body {
  background: #f7f7f9;;
  box-sizing: border-box;
}

.nav-menu {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 14px 32px 14px 24px;
}

h1 {
  color: #6070ff;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.introduction {
  background-color: #fff;
  background-image: url(assets/bg.png);
  background-position: 0 1rem;
  background-repeat: no-repeat;
  border-radius: 0 0 0 60px;
  margin: 0 0 70px;
}

.introduction h2 {
  color: #172b4d;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  padding: 114px 24px 12px;
  width: 70%;
}

.introduction p {
  color: #344563;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding: 0 24px 12px;
}

.introduction h4 {
  color: #7f8cff;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  padding: 0 24px 26px;
}

.social-media {
  display: flex;
  list-style: none;
  padding: 0 24px 136px;
}

.introduction ul li {
  padding: 0 20px 0 0;
}

article {
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  margin: 88px 24px;
}

article img {
  padding: 16px 16px 0;
}

article h3 {
  color: #172b4d;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  padding: 12px 0 12px 16px;
}

article ul {
  display: flex;
  list-style: none;
  padding: 0 0 0 16px;
}

article ul li {
  display: flex;
  height: 32px;
  align-items: center;
  padding: 0 6px 0 0;
}

article h5 {
  color: #344563;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}

article ul li img {
  padding: 0 6px;
}

article h6 {
  color: #7a869a;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

article p {
  color: #344563;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  padding: 12px 16px 12px;
}

.tags li {
  background: #ebebff;
  border-radius: 8px;
  color: #6070ff;
  margin: 0 8px 0 0;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  height: 24px;
  padding: 4px 12px;
}

button {
  background-color: #fff;
  border: 1px solid #6070ff;
  border-radius: 8px;
  color: #396df2;
  font-family: 'Poppins', sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  padding: 12px;
  margin: 24px 0 28px 16px;
}

.order-0 {
  flex: none;
  order: 0;
  flex-grow: 0;
}

.order-1 {
  flex: none;
  order: 1;
  flex-grow: 0;
}

.order-2 {
  flex: none;
  order: 2;
  flex-grow: 0;
}

.order-3 {
  flex: none;
  order: 3;
  flex-grow: 0;
}

.about {
  background-image: none;
  border-radius: 0 60px 0 0;
}

.about-media {
  display: flex;
  list-style: none;
  padding: 0 24px 2px 35px;
}

.langs {
  display: flex;
  flex-direction: column;
  padding: 0 36px;
  list-style: none;
}

.lang {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 36px;
}

.lang h5{
  color: #000000;
  font-family: 'Poppins';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 72px;
}

.lang-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.lang-list li {
  align-items: center;
  background: #f7f7f9;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  margin: 6px 0;
}

.lang-list h6 {
  color: #253858;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.lang-list li img {
  padding: 9px 16px 9.72px 12px;
}

.solid {
  background: #dfe1e6;
  height: 1px;
}